#career-header {
  height: 10vh;
  // background-color: rgb(81, 161, 161);
  position: relative;
  width: 100%;
  top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    span {
      font-weight: 800;
      font-size: 4.2rem;
      color: var(--button-bg);
    }
  }
}

#career-subheader {
  height: 8vh;
  width: 100%;
  position: relative;
  // background-color: aqua;
  top: -1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  p {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
    text-align: center;
    color: #797878;
    span {
      font-weight: bold;
      color: var(--button-bg);
    }
  }
}

#div-career-catagory-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgb(194, 110, 110);
  padding: 2rem;
  padding-top: 0;
  flex-wrap: wrap;
  overflow: hidden;
}

.career-subContainer {
  height: auto;
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: grey;
  flex-wrap: wrap;
  gap: 5rem;
}

.carrer-sidebar {
  position: absolute;
  // height: 10vh;
  width: 100%;
  background-color: var(--button-bg);
  right: 0;
  left: 0;
  border-radius: 3rem 3rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 0.3rem;
  font-weight: 200;

  .apply-msg {
    height: inherit;
    width: auto;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 2vw;
      letter-spacing: 0.2rem;
    }
    
  }
}

.apply-btn{
    height: 3rem;
    width: 8rem;
    background-color: #fff;
    outline :none;
    cursor: pointer;
    color: #000;
    border-radius: 25px;
    transition: all ease 0.3s;
    &:hover{
      background-color: #000;
      color: #fff;
    }
    
  }
  .down-floating{
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    // background-color: #000;
    border: 1px solid #a3a3a3;
    border-radius: 50%;
    right: 7rem;
    bottom: 4em;
    cursor: pointer;
    animation: floating 1s ease-in-out 0.5s infinite alternate ;
  }
  @keyframes floating {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0px);
    }
  }  

  // Now it's time for responsive

  @media screen and (orientation: landscape) and (max-width: 768px) {
    #career-header {
      // background-color: red;
      top: 3rem;
    }
    #career-subheader {
      // background-color: red;
      top: 3.5rem;
    }
    #div-career-catagory-container {
      margin-top: 5rem;
      flex-direction: column;
    }
    .career-subContainer {
      gap: 1rem;
    }
    .down-floating{
      display: none;
    }
  }

  @media screen and (orientation: portrait) and (max-width: 684px) {
    #career-header {
      // background-color: red;
      top: 2rem;
      h1 {
        text-align: center;
        line-height: 4rem;
      }
    }
    #career-subheader {
      // background-color: red;
      top: 3.5rem;
    }
    #div-career-catagory-container {
      flex-direction: column;
      margin-top: 7.5rem;
    }

    .career-subContainer {
      gap: 2rem;
    }
    .carrer-sidebar{
      flex-direction: column;
      padding: 2.5rem;
      gap: 2rem;
      .apply-msg{
        p{
          font-size: 1rem;
          text-align: center;
        }
      }
      .right-arrow{
        display: none;
      }
     
    }
    .down-floating{
      display: none ;
    }
  }

