.cc-conatiner{

    height: 12rem;
    width: 19rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.2s;
    &:hover{
        border: 1px solid #aeaeae;
    }
    &:nth-child(1){
        box-shadow: 1px 1px 1px 1px #77E4C8;
        .cc-image{
            background-color: #77E4C8;
        }
        &:hover{
            box-shadow: -1px -1px 1px 1px #77E4C8;
        }
    }
    &:nth-child(2){
        box-shadow: 1px 1px 1px 1px #83B4FF;
        .cc-image{
            background-color: #83B4FF;
        }
        &:hover{
            box-shadow: -1px -1px 1px 1px #83B4FF;
        }
    }
    &:nth-child(3){
        box-shadow: 1px 1px 1px 1px #FF8C9E;
        .cc-image{
            background-color:#FF8C9E;
            img{
                height: 30px;
                width: 30px;
            }
        }

        &:hover{
            box-shadow: -1px -1px 1px 1px #FF8C9E;
        }
    }
    &:nth-child(4){
        box-shadow: 1px 1px 1px 1px #FFBE98;
        .cc-image{
            background-color: #FFBE98;
            img{
                height: 35px;
                width: 35px;
            }
        }

        &:hover{
            box-shadow: -1px -1px 1px 1px #FFBE98;
        }
    }
    &:nth-child(5){
        
        box-shadow: 1px 1px 1px 1px #9F70FD;
        .cc-image{
            background-color: #9F70FD;
           
        }
        &:hover{
            box-shadow: -1px -1px 1px 1px #9F70FD;
        }
    }
    &:nth-child(6){
        
        box-shadow: 1px 1px 1px 1px #FFDA76;
        .cc-image{
            background-color: #FFDA76;
        }

        &:hover{
            box-shadow: -1px -1px 1px 1px #FFDA76;
        }
    }
}

.cc-logo{
    height: 38%;
    width: 100%;
    // background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cc-image{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 40px;
        width: 40px;
        backdrop-filter:opacity(20%);
        
    }
}

.cc-about{
    height: 40%;
    width: 100%;
    // background-color: aqua;
    padding: 0.6rem;
    p{
        text-align: center;
    }
}

.cc-title{
    height: 22%;
    width: 100%;
    // background-color: rgb(236, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .cc-conatiner{
        min-width: 100%;
    }
}

@media screen and (orientation: portrait) and (max-width: 684px) {
    .cc-conatiner{
        min-width: 20rem;
        
    }
}

