#card-section{
    height: auto;
    width: 100%;
    // background-color: aqua;
    margin:  25px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 3rem;

    
}

// #card-section:hover > :not(:hover){
//     opacity: 0.4;
// }