#card-section{
    height: auto;
    width: 100%;
    // background-color: var(--shade-gray-color);
    margin:  50px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 3rem;
 
}

.course-svg{
    position: absolute;
    left: 0;
    top: 0;
    // top: -2rem;
}

@media screen and (orientation: portrait) and (max-width: 684px){
    .course-svg{
        display: none;

    }
}

// #card-section:hover > :not(:hover){
//     opacity: 0.4;
// }