.burger {
  position: relative;
  width: 1.9rem;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}


.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, left 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger-active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

.burger-active span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger-active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 19px;
  left: 4px;
}