@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --button-bg: #2866DE;
  --light-blue-color: #D9E6FF;
  --nav-height: 5rem;
  --float-promo-height: 3.2rem;
  --nav-bottom-border: 90deg,
    #0000000d 3%,
    #0000002e 48%,
    #0000000d 97%;
  --button-bg-hover: #ffffff;
  --shade-gray-color: #f5f5f5;
  --black-gray-color: #363636;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//     --nav-bottom-border: 90deg,
//       #ffffff0d 3%,
//       #f8f8f82e 48%,
//       #ffffff0d 97%;
//   }
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
  width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main.mainSection {
  padding: calc(var(--nav-height) + 3rem + var(--float-promo-height)) 4rem 0 4rem;

}


section {
  padding-left: 4rem;
  padding-right: 4rem;
}

.svgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.contact-upper-promo {
  width: 100%;
  height: var(--float-promo-height);
  top: calc(var(--nav-height) + 15px);
  background: rgb(178, 204, 255);
  background: linear-gradient(27deg, rgba(40, 102, 222, 1) 11%, rgba(209, 219, 240, 1) 40%, rgba(204, 220, 238, 1) 64%, rgba(40, 102, 222, 1) 92%);
  color: black;
  z-index: 3;

  h3 a {
    display: flex;
    gap: .6rem;
    align-items: center;

    svg {
      width: 1.2rem;
    }
  }
}

.blog-details {
  .Solo-blog-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: .5rem;
    }

    figure {
      margin: 1rem 0;
    }


    h5 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 1rem;
    }


    ul,
    ol {
      padding-left: 2rem;
      list-style-type: disc;

      ul,
      ol {
        list-style: circle;
      }
    }
  }
}


@media screen and (max-width:768px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main.mainSection {
    padding: calc(var(--nav-height) + 1rem) 1rem 0 1rem;

  }
}

@media screen and (width <=480px) {
  main.mainSection {
    padding: calc(var(--nav-height) + var(--float-promo-height) + 1rem) 1rem 0 1rem;
  }

  .contact-upper-promo {

    top: calc(var(--nav-height) + 0px);
  }

  .blog-image {
    width: 100% !important;

    img {
      object-fit: contain;
    }
  }

  .main-page-withWave {
    overflow-x: hidden;

    .svgImage {
      width: auto;
      height: 20vh;
    }
  }
}