@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --button-bg: #2866DE;
  --button-bg-hover: #D9E6FF;
  --nav-height: 5rem;
  --nav-bottom-border: 90deg,
    #0000000d 3%,
    #0000002e 48%,
    #0000000d 97%
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --nav-bottom-border: 90deg,
      #ffffff0d 3%,
      #f8f8f82e 48%,
      #ffffff0d 97%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
  width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding-top: calc(var(--nav-height) + 1rem);
}