#Card-container {
    height: 380px;
    width: 290px;

    border: 1px solid #8a8989;
    border-radius: 15px;
    min-width: 250px;
    // background: var(--shade-gray-color);
    transition: all ease 0.2s;
    overflow: hidden;
    z-index: 99;

    &:hover {
        border-color: var(--button-bg);
        background: white;
        box-shadow: 9px 9px 10px 0px #2865de4f;
        transform: scale(1.1);

        #card-details {
            bottom: 3.8rem;
        }
    }
}


#card-image {
    height: 220px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4 / 3;
        border-radius: 15px 15px 0 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#card-details {
    height: auto;
    width: 100%;
    background-color: var(--shade-gray-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.8rem;
    position: relative;
    bottom: 1.5rem;
    transition: bottom .2s ease, background-color 0.2s ease;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
        position: relative;
        bottom: 5px;
        color: var(--black-gray-color);
        min-height: 55px;
    }
}

#course-features {
    margin-top: 0.8rem;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;

    h5 {
        background: var(--light-blue-color);
        padding: 2px 10px;
        border-radius: 10px;
        font-size: 0.7rem;
    }
}

#button-div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-course-btn {
    height: 2.5rem;
    width: 8rem;
    padding: 15px auto;
    background-color: var(--button-bg);
    border-radius: 15px;
    color: #fff;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;

    &:hover {
        background-color: #fff;
        border: 1px solid var(--button-bg);
        color: #000;
    }
}