.course-details-container {
    margin-top: 5rem;
    // position: relative;
    overflow: hidden;
    height: auto;

}

#CourseImageHeader {
    height: auto;
    width: 100%;
    // background-color: aqua;
    padding: 4rem;
    display: flex;
}

.course-Image {
    height: inherit;
    width: 40%;
    // background-color: thistle;
}

.img-div {
    height: 250px;
    width: 400px;
    // background-color: aquamarine;
    border-radius: 15px;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.img-div img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    aspect-ratio: 3/4;
    transition: all ease 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

.course-header {
    height: inherit;
    width: 60%;
    // background-color: rgb(71, 170, 130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    h1{
        font-size: 6vw;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    h2{
        background: var(--light-blue-color);
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 1.5rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        width: 150px;

        &::before{
            content: "";
            height:100%;
            width: 0;
            position: absolute;
            transition: width ease 0.5s;
            left: 0;
            top: 0;
        }
        &:hover::before{
            width: 100%;
        }
    }

}

.effects1{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top:8vw;
    right: -5%;
    background-color: var(--button-bg);
    filter: blur(400px);
}
.effects2{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top:10vw;
    right: -5%;
    background-color: #5590fd;
    filter: blur(400px);
}

.course-description-enroll{
    height: auto;
    width: 100%;
    background-color: var(--shade-gray-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4vw 4vw 0 0;
}
.course-description{
    height: inherit;
    width: 60%;
    // background-color: aquamarine;
    display: flex;
    // flex-direction: column;
    padding: 2rem 0 4rem 8rem;
    h1{
        font-size: 2.8rem;
        color: var(--button-bg);
    }
    h2{
        font-size: 1.5rem;
        margin-top: 25px;
        margin-bottom: 5px;
        color: var(--button-bg);
    }

}
.course-enroll {
    height: auto;
    width: 40%;
    border-left: 1px solid transparent;
    border-image: linear-gradient(to bottom, white, var(--button-bg), white) 1;
    // background-color: aqua;
    padding: 4rem 0 4rem 2rem;
    h2{
        font-size: 1.5rem;
        margin-top: 25px;
        margin-bottom: 5px;
        color: var(--button-bg);
    }
}


.about-course{
    height: auto;
    width: 95%;
}

.course-lessons{
    // margin-top: 5px;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: rgb(197, 197, 70);
    flex-wrap: wrap;
    padding: 0rem 0 0 1rem;
    gap: 2px;
    .ul :nth-child(n){
        position: relative;
        transition: all ease 0.2s;
        font-style: italic;
    }
    .ul ::before{
        content: "->";
    }
    .ul :hover{
        transform: translate(120px);
        transform: scale(1.03);
        font-style: normal;
    }
}

.course-eligibily{
    height: auto;
    width: 95%;
    padding: .5rem;
}

.course-opportunities,.course-extra-facilities{
    height: auto;
    width: 95%;
    padding: 0rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    .ul :nth-child(n){
        position: relative;
        transition: all ease 0.2s;
        font-style: italic;
    }
    .ul ::before{
        content: "->";
    }
    .ul :hover{
        transform: translate(120px);
        transform: scale(1.03);
        font-style: normal;
    }
}

.apply-course{
    margin-top: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    button{
        padding: 1rem 2rem;
        // border: 1px solid black;
        background-color: var(--button-bg);
        border-radius: 15px;
        outline: none;
        color: #fff;
        letter-spacing: .25rem;
        transition: 1px ease 0.3s;
        &:hover{
            background-color: #fff;
            border: 1px solid var(--button-bg);
            color: #000;
        }
    }

}


@media screen and (orientation: landscape) and (max-width: 1000px) {

    #CourseImageHeader{
        flex-direction: column;

    }
    .course-Image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course-header{
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .course-description-enroll{
        flex-direction: column;
    }
    .course-description{
        width: 100%;
        padding: 2rem 2rem 0 5rem;
    }

    .course-enroll{
        width: 100%;
        padding: 0 2rem 0 5rem;
    }
    
  }
  
  @media screen and (orientation: portrait) and (max-width: 684px) {
  
    #CourseImageHeader{
        flex-direction: column;

    }
    .course-Image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-div{
     min-width: 320px;
    }
    .course-header{
        width: 100%;
        align-items: center;
        padding: 0;
        h1{
            font-size: 10vw;
        }
    }

    .course-description-enroll{
        flex-direction: column;
    }
    .course-description{
        width: 100%;
        padding: 0rem 2rem 0 3rem;
    }

    .course-enroll{
        width: 100%;
        padding: 0 2rem 0 3rem;
    }
    
  }