.countUp-section {


    .section-left-part {
        h1 {
            font-size: 9.5rem;
            line-height: .8;
            color: var(--black-gray-color);
            text-transform: uppercase;

            span {
                margin-left: 3rem;
            }
        }

        h4 {
            margin-top: 1rem;
        }

        .countUp-section-linkBtn {
            margin-top: 2rem;
        }

    }

    .section-right-part {
        gap: 2rem;
        align-items: flex-end;
        position: relative;
        top: -5%;



        .countUp {
            display: flex;
            gap: 1rem;
            font-size: 6.7rem;
            align-items: flex-end;
            position: relative;
            padding-bottom: 2rem;
            width: 75%;
            justify-content: flex-end;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                bottom: 0;
                left: 0;
                background: var(--light-blue-color);
                width: 105%;
            }

            span {
                position: absolute;
                transition: width 0.3s ease-in-out;
                bottom: 0px;
                left: 0;
                width: 0%;
                background: var(--button-bg);
                height: 2px;
                z-index: 1;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            &:hover {
                span {
                    width: 105%;
                }
            }


            h1 {
                line-height: 1;
                font-weight: 600;
                color: var(--black-gray-color);
            }

            h4 {

                line-height: .6;
            }
        }
    }
}


@media screen and (max-width: 1230px) {
    .countUp-section {
        height: auto;
        margin-bottom: 5rem;

        .section-left-part {
            h1 {
                font-size: 6.5rem;
            }

        }

        .section-right-part {
            .countUp {
                font-size: 4.7rem;
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .countUp-section {
        padding: 0 1rem;

        .section-left-part {
            h1 {
                font-size: 5rem;
            }

            h4 {
                font-size: .96rem;
            }

            .countUp-section-linkBtn {
                margin-top: 1rem;
            }
        }

        .section-right-part {
            .countUp {
                width: 100%;
                font-size: 4rem;
                padding-bottom: 1rem;


                &::after {
                    width: 100%;
                }

                &:hover {
                    span {
                        width: 105%;
                    }
                }

            }
        }
    }

}