.wrapper {
  min-height: 100vh;
  width: 100%;
  // background-color: aqua;
}

#header {
  height: auto;
  // margin-top: 4rem;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  // background-color: red;

  h1 {
    display: flex;
    justify-content: start;
    font-size: 5.4rem;
    margin: 0;
    padding: 0;
  }
}

#Contact-about {
  height: auto;
  margin: 0;
  padding: 1rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    position: relative;
    bottom: 1rem;
    letter-spacing: 0.3rem;
  }
}
#Contact-Branch-header {
  width: 100%;
  height: 7vh;
  // background-color: grey;
  .border-conatainer {
    width: 50%;
    // background-color: red;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, white, var(--button-bg), white) 1;
  }
  p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  span {
    color: var(--button-bg);
  }
}

#map-tab {
  margin: 20px 20px 20px 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1.4rem;
  font-weight: 100;
  // background-color: red;
}

.map-tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 0.5rem 1.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;

  &.active {
    background-color: var(--button-bg);
    color: #fff;
    border-radius: 5px;
    font-weight: 200;
  }

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0px;
    background-color: black;
    transition: all ease 0.4s;
    bottom: 0;
    left: 0;
    background-color: var(--button-bg);
  }
}

#detail-address {
  margin-top: 20px;
  min-height: 60vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // background-color: aqua;
}
.contact-svg {
  position: absolute;
  top: 0;
}

.detail {
  height: inherit;
  width: 20%;
  min-width: 300px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-image: linear-gradient(to bottom, white, var(--button-bg), white) 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: var(--button-bg);
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

.map {
  height: inherit;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  iframe {
    border-radius: 15px;
    position: relative;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

#contact-form {
  margin-top: 50px;
  height: auto;
  width: 100%;
  background-color: var(--button-bg);
  display: flex;
  border-radius: 2vw 2vw 0 0;
  margin-bottom: 5px;
}

.form-header {
  height: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 6rem;
  // background-color: rgb(60, 255, 0);

  p {
    font-size: 8vw;
    font-weight: 900;
    font-style: italic;
    color: #fff;
  }
}

.form-container {
  height: inherit;
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b4b3b3;
  border-left: none;
  border-radius: 2vw 2vw 0 2vw;
}

// Responsive for tablet
@media screen and (orientation: landscape) and (max-width: 768px) {
  #header h1 {
    font-size: 4rem;
  }
  #Contact-about {
    p {
      font-size: 1rem;
    }
  }
  #map-tab {
    justify-content: center;
    font-size: 0.5rem;
  }
  #detail-address {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .map {
    width: 100%;
    height: 50vh;
  }
  .slider {
    width: 90%;
  }

  #contact-form {
    flex-direction: column;
  }
  .form-header {
    width: 100%;
    white-space: nowrap;
    p {
      font-size: 2.5rem;
    }
  }
  .form-container {
    width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-width: 684px) {
  #header h1 {
    font-size: 4rem;
  }
  #Contact-about {
    p {
      font-size: 1rem;
      text-align: center;
    }
  }
  #map-tab {
    justify-content: center;
    font-size: 1rem;
  }
  .map-tab-container {
    // background-color: red;
    padding: 0.5rem 2.3rem;
  }
  #detail-address {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .map {
    width: 100%;
    height: 50vh;
  }
  .slider {
    width: 90%;
  }

  #contact-form {
    flex-direction: column;
  }
  .form-header {
    width: 100%;
    p {
      font-size: 2rem;
      white-space: nowrap;
    }
  }
  .form-container {
    width: 100%;
  }

  .contact-svg {
    display: none;
  }
  .border-conatainer {
    min-width: 100%;
    // background-color: red;
  }
}
